[submodule "/Users/kylekoza/.oh-my-zsh"]
	path = /Users/kylekoza/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "/Users/kylekoza/.vim/bundle/Vundle.vim"]
	path = /Users/kylekoza/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
